<h1>Lab#index</h1>
<p>Find me in app/views/lab/index.html.erb</p>

<%= form_with(url: "/create.json", method: "get", id: "add") do %>
    <table>
        <tr>
            <td>Введите n</td>
            <td><%= text_field_tag :n %></td>
        </tr>
        <tr>
            <td><%= submit_tag "Найти", id: "click" %></td>
            <td></td>
        </tr>
    </table>
<% end %>
<br>
<table id="result" border="1">
    <tr>
        <td>Номер строки</td>
        <td>Число</td>
    </tr>
</table>